<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Listado de Artículos.
    <table>
        <thead>
            <th></th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Proveedor</th>
            <th>Stock</th>
        </thead>
        <tbody th:each="ap : ${articlesProvider}">
            <td></td>
            <td th:text="${ap.article.name}"></td>
            <td th:text="${ap.article.description}"></td>
            <td th:text="${ap.provider.user.name}"></td>
            <td th:text="${ap.stock}"></td>
        </tbody>

    </table>
</body>
</html>