<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Artículos</title>
    <style>
        table, td, th {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

    </style>
</head>
<body class="marca_agua">
<th:block th:include="fragments/header :: header"></th:block>
<div class="container" style="">
    <div class="row" style="margin-top: 50px; margin-left:-40px;">
        <div class="col s12 m12">
            <div class="label"
                 style="border-left: 3px solid #0000ff; padding-left:10px; font-weight: bold; font-size: 16px;">
                Gastos Diarios
                <a href="../-1" class="btn-floating btn-small waves-effect waves-light green modal-trigger"><i
                        class="material-icons">add</i></a>
            </div>
            <div class="pull-right well" style="font-weight:bold; font-size: 40px;" >
                Total gastos: $<span th:text="${total_gastos}"></span>
            </div>
        </div>
        </br></br></br>
        <div class="col s12 m12">
            <div  class="thumbnail">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th style="width:20%;">Cajero</th>
                        <th style="width:20%;">Tipo Documento</th>
                        <th style="width:10%;">Número</th>
                        <th style="width:15%;">Fecha</th>
                        <th style="width:10%;">Valor</th>
                        <th style="width:25%;">Motivo</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item: ${buys}">
                            <th th:text="${item.user_enterprise.name}"></th>
                            <th th:text="${item.document_type.name}"></th>
                            <th>
                                <a th:href="${'../'+ item.id}" th:text="${item.document_number}"></a>
                            </th>
                            <th th:text="${#dates.format(item.buyDate, 'dd - MMM - yyyy')}"></th>
                            <th th:text="${'$'+item.total}" ></th>
                            <th th:text="${item.description}" ></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<th:block th:include="fragments/footer :: footer"></th:block>

<script th:inline="javascript">
    $(document).ready(function(){
        $('.datepicker').datepicker( {"format":'dd/mm/yyyy'} ).datepicker("setDate", new Date());
    });
</script>
</body>
</html>